<div class="ui top fixed inverted large menu">
  <div class="header item" ui-sref="app.report">
    Pamsimas
  </div>

  <!-- <a
    class="item"
    ui-sref="app.kuesioner.list"
    ng-if="$root.currentUser"
    ng-class="$root.activeMenu('/kuesioner')">
      Kuesioner
  </a>
  <a class="item"
    ui-sref="app.temuan"
    ng-if="$root.currentUser"
    ng-class="$root.activeMenu('/temuan')">
      Tindak Lanjut
  </a> -->

  <div class="ui dropdown item">
    <div><i class="sidebar icon"></i>Menu</div>
    <div class="ui vertical menu">
      <a class="item"
        ui-sref="app.dashboard"
        ng-class="$root.activeMenu('/dashboard')"
        ng-if="$root.currentUser">
          Dashboard
      </a>
      <a class="item"
        ui-sref="app.kuesioner.list"
        ng-class="$root.activeMenu('/kuesioner')"
        ng-if="$root.currentUser">
          Uji Petik
      </a>
      <a class="item"
        ui-sref="app.sumur_bor.list"
        ng-class="$root.activeMenu('/sumur_bor')"
        ng-if="$root.currentUser">
          Sumur Bor
      </a>
      <div class="ui dropdown item">
        Report
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" ui-sref="app.report" ng-class="$root.activeMenu('/report')">
            Uji Petik
          </a>
          <a class="item" ui-sref="app.sumur_bor.report" ng-class="$root.activeMenu('/sumur_bor')">
            Sumur Bor
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="ui dropdown item" ng-show="!$root.currentUser">
    <div><i class="sidebar icon"></i>Menu</div>
    <div class="menu">
      <a class="item" ui-sref="app.report" ng-class="$root.activeMenu('/report')">Report Uji Petik</a>
      <a class="item">Report Sumur Bor</a>
    </div>
  </div> -->

  <div class="right menu">
    <div class="item" ng-if="$root.currentUser">{{ $root.currentUser.user_name }}</div>
    <a class="active blue item" ui-sref="app.auth" ng-if="!$root.currentUser" ng-click="toLogin($root.filter)">Login</a>
    <a class="active blue item" ng-click="logout()" ng-if="$root.currentUser">Logout</a>
  </div>

  <!-- <div class="right menu">
    <a class="item" ui-sref="app.auth" ng-if="!$root.currentUser" ng-click="toLogin($root.filter)">Masuk</a>
    <div class="ui dropdown item" ng-show="$root.currentUser">
      <div>{{ $root.currentUser.user_name }}</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item" ui-sref="app.kuesioner" ng-class="$root.activeMenu('/kuesioner')">Kuesioner</a>
        <a class="item" ui-sref="app.temuan" ng-class="$root.activeMenu('/temuan')">Tindak Lanjut</a>
        <a class="item" ng-click="logout()">Keluar</a>
      </div>
    </div>
  </div> -->
</div>

<modal ng-model="logoutModal" class="ui basic modal">
  <div class="ui icon header">
    <i class="check icon"></i>
    Logout berhasil
  </div>
</modal>

<script>
  $('.ui.dropdown').dropdown();
</script>
