<!DOCTYPE html>
<html lang="en" ng-app="app" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ $root.title || 'Title' }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="bower_components/semantic/dist/semantic.css">
  <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css" />
  <link rel="stylesheet" href="bower_components/selectize/dist/css/selectize.css" />
  <link rel="stylesheet" href="bower_components/select2/select2.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/whitespace.css">
  <link rel="stylesheet" href="assets/css/responsive.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-3.6.0.min.js"></script>
</head>
<body>
  <div ui-view="header"></div>
  <div ui-view="content"></div>

  <div class="ui dimmer">
    <div class="ui large loader"></div>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/angular-filter/dist/angular-filter.min.js"></script>
  <script src="bower_components/semantic/dist/semantic.js"></script>
  <script src="bower_components/angular-ui-select/dist/select.js"></script>
  <script src="bower_components/lodash/lodash.js"></script>
  <script src="bower_components/ng-lodash/build/ng-lodash.min.js"></script>
  <script src="bower_components/angular-semantic-ui/dist/angular-semantic-ui.js"></script>
  <script src="bower_components/moment/moment.js"></script>
  <script src="bower_components/angular-moment/angular-moment.js"></script>
  <script src="bower_components/ng-confirm/dist/ng-confirm.min.js"></script>
  <script src="bower_components/angular-input-masks/angular-input-masks-standalone.min.js"></script>
  <script src="bower_components/angular-file-saver/dist/angular-file-saver.bundle.js"></script>
  <!-- <script src="bower_components/selectize/dist/js/selectize.js"></script> -->
  <!-- <script src="bower_components/select2/select2.js"></script> -->

  <script src="app.js"></script>
  <script src="components/main.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
  <script src="modules/dashboard/dashboard.js"></script>
  <script src="modules/auth/auth.js"></script>
  <script src="modules/auth/auth.service.js"></script>
  <script src="shared/filters.js"></script>
  <script src="shared/services/user.service.js"></script>
  <script src="shared/services/helper.service.js"></script>
  <script src="shared/services/loader.service.js"></script>
</body>
</html>
