<div class="ui middle aligned center aligned grid">
  <div class="column" style="max-width: 450px;">
    <h2 class="ui header">
      <div class="content">
        Login
      </div>
    </h2>
    <form class="ui large form" autocomplete="off" ng-submit="login(data)">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" placeholder="User" ng-model="data.userlogin">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" placeholder="Password" ng-model="data.password">
          </div>
        </div>
        <input type="submit" value="Masuk" class="ui fluid large secondary submit button" />
      </div>
    </form>
    <div class="ui error message" ng-repeat="e in errors">{{ e }}</div>
  </div>
</div>
