html, body {
  height: unset;
}

body > .grid {
  height: 100%;
}

.header-space {
  margin-top: 5em;
}

#content.menu-show {
  margin-left: 200px;
}

/*.column {
  max-width: 450px;
}*/

.fr {
  float: right !important;
}

.fl {
  float: left !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-hidden {
  color: transparent !important;
}

.text-italic {
  font-style: italic !important;
}

.text-bold {
  font-weight: bold !important;
}

.pointer {
  cursor: pointer !important;
}

.text-red {
  color: #db2828 !important;
}

.text-green {
  color: #21ba45 !important;
}

.text-grey {
  color: #767676 !important;
}

.text-disable {
  color: #d5d5d5 !important;
}

.bg-red {
  background-color: #db2828 !important;
  color: #fff !important;
}

.bg-green {
  background-color: #21ba45 !important;
  color: #fff !important;
}

.selectize-dropdown .active {
  background-color: #d3efff !important;
}

.underline {
  text-decoration: underline !important;
}

.ui.dropdown .menu .menu {
  margin: 0em !important;
}

/* fixed table header */
/*.fixed-header {
  table-layout: fixed;
  border-collapse: collapse;
}

.fixed-header thead {
  display: block;
  overflow-y: scroll;
}

.fixed-header tbody {
  display: block;
  width: 100%;
  overflow-y: auto;
  height: 65vh;
}

.fixed-header thead tr {
  display: block;
}

.fixed-header th, .fixed-header td {
  width: 400px;
}

::-webkit-scrollbar {
  display: none;
}*/
/* end of fixed table header */
