<div class="ui container">
  <h3>Dashboard</h3>
  <div class="ui cards m-t-md">
    <div class="card">
      <div class="content">
        <div class="header">Aplikasi Uji Petik</div>
      </div>
      <a ui-sref="app.kuesioner.list" class="ui bottom attached button">
        <i class="sign in alternate icon"></i>
        Masuk
      </a>
    </div>
    <div class="card">
      <div class="content">
        <div class="header">Aplikasi Sumur Bor</div>
      </div>
      <a ui-sref="app.sumur_bor.list" class="ui bottom attached button">
        <i class="sign in alternate icon"></i>
        Masuk
      </a>
    </div>
  </div>
</div>
